table{ 
    height: 120px;
    padding-top: 4px;
    font-family: 'calibri';
    background-color: rgb(236, 236, 236);
}
.bg_roxo{
    border-top: solid 2px rgba(204, 125, 236, 0.637);
    width: 120px;
    background-color: rgba(213, 147, 240, 0.829);
}
.bg_laranja{
    border-top: solid 2px rgba(255, 145, 0, 0.521);
    width: 120px;
    background-color: rgb(252, 192, 114);
}
.bg_verde{
    border-top: solid 2px rgba(19, 216, 19, 0.548);
    width: 120px;
    background-color: rgb(130, 248, 130);
}
.bg_cinza{
    border-top: solid 2px rgba(141, 141, 141, 0.473);
    width: 15mm;
    background-color: rgba(141, 141, 141, 0.473);
}
.bg_azul{
    border-top: solid 2px rgba(0, 0, 255, 0.329);
    width: 120px;
    background-color: rgba(0, 0, 255, 0.329);
}
tr { 
    border-inline:0;
    height: 10mm;
    text-align: center;
}
td {
    border: 0;
    border-inline: 0;
}